<div class="notice warning">
  <strong>News:</strong> - I'm transfering the blog to the a new domain <%= link_to "https://blog.eq8.eu/", "https://blog.eq8.eu/" %> Due to this process comments may be disabled for few days.</br>
  To learn more visit <%= link_to '"Why The new blog"', 'https://blog.eq8.eu/why-new-blog' %> page
</div>
