= render 'notice'
%article
  ~ resource.content
  = render 'raw_github'
  .published Published #{published_date(resource)}

  <a href="https://www.patreon.com/bePatron?u=6988196" data-patreon-widget-type="become-patron-button"><img src="https://c5.patreon.com/external/logo/become_a_patron_button.png" alt="Become a Patron!"></a>
  %section
    = render 'comments'
